<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>百度登录</title>
    <style>
        a{color: #2E82FF; transition: 0.5s}  
        a:hover{color: #B0DAFF}
    </style> 
    <link rel="stylesheet" href="/static/app01/css/mycss.css">
</head>
<body class="bd">
    <div style="width: 356px; height: 457px;background-color: rgb(255, 255, 255);border: 1px solid rgb(0, 0, 0)">
        <img src="/static/app01/imgs/baidu.jpg" alt="无此图片">
        <p class="a">·&nbsp&nbsp用户名密码登录</p>
        <div class="b"><input name="username" type="text" placeholder="&nbsp手机/邮箱/用户名" style="width:304px;height:36px"></div>
        <div class="c"><input name="password" type="password" placeholder="&nbsp密码" style="width:304px;height:36px"></div>
        <div class="d"><input type="text" placeholder="&nbsp验证码" style="width:144px;height:36px">
            <img src="/static/app01/imgs/yzm.png" alt="无此图片" style="position:relative;left: 10px; top: 17px">
            <a href="" style="font-size: 3px; position: relative; left: 15px; text-decoration: none">换一张</a>
        </div>
        <div>
            <input type="checkbox" checked="checked" style="position: relative; left: 22px; top: -1px;">
            <p style="color: #666666; font-size: 3px;position: relative;left: 43px; top: -33px;">下次自动登录</p>
            <button type="submit" class="e">登录</button>
        </div>
        <div>
            <a href="" style="text-decoration: none;font-size: 4px; position: relative; left: 25px; top: -28px">忘记密码?</a>
            <a href="" style="text-decoration: none;font-size: 4px; position: relative; left: 196px; top: -28px">短信快捷登录</a>
        </div>
        <div style="width: 100%; height: 57px; background-color: #F0F6FF; position: relative; top: 10px;">
        <a href="" style="text-decoration: none;font-size: 13px;position: relative; left: 25px;top: 17px;">扫码登录</a>
        <span style="font-size: 1px;color: #2E82FF; position: relative;left: 40px; top: 15px">|</span>
        <a href=""><img src="/static/app01/imgs/qq.png" alt="无此图片" style="position: relative;left: 50px; top: 20px"></a>
        <a href=""><img src="/static/app01/imgs/weibo.png" alt="无此图片" style="position: relative;left: 55px; top: 18px"></a>
        <a href="" style="text-decoration: none;font-size: 13px;position: relative; left: 165px;top: 17px;">立即注册</a>
        </div>
    </div>
</body>
</html>