#wapper{
    width: 100%;
    display: block;
}
#header{
    width: 980px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
}
span{
    font-size: 12px;
    float: left;
    display: block;
    margin-right: 5px;
    margin-top: 10px;
}
.header-link{
    position: absolute;
    color: #666;
    margin: 0 0 0 67%;
    top: 37px;
}
.header-btn{
    font-weight: 700;
    color: #666;
    height: 32px;
    width: 64px;
    border: 1px solid rgb(219, 219, 219);
    background-color: #F7F7F7;
    border-radius:3px;
}
button{
    cursor: pointer;
}
.nav-1{
    height: 20px;
    background: url(../imgs/nav.png) no-repeat center top;
    position: relative;
    top: -20px;
}
#content{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
#form1{
    position: relative;
    zoom: 1;
}
.name{
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right;
}
.text1{
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #666;
    transition: .3s;
}
.form4{
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
    margin: 0 0 0 5px;
    top: 20px;
}
.form5{
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
    margin: 0 0 0 5px;
    top: 40px;
}
.form6{
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
    margin: 0 0 0 5px;
    top: 60px;
}
.text2{
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 157.5px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
}
.btn1{
    border-radius: 0;
    border: 1px solid #ddd;
    height: 40px;
    background: #f7f7f7;
    color: #666;
    font-weight: 400;
    width: 160px;
    float: left;
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}
.btn1:hover{
    background: rgb(236, 236, 236)
}
.form7{
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
    margin: 0 0 0 5px;
    top: 80px;
    margin-left: 75.5px;
    font-size: 12px;
}
.font1{
    font-size: 12px;
    position: relative;
    top: -2.7px;
}
.font2:link{
    text-decoration: none;
}
.font2:hover{
    text-decoration: underline;
}
.font2:visited{
    color: #1b66c7;
}
.form8{
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
    margin: 0 0 0 78px;
    top: 100px;
}
.btn2{
    display: block;
    height: 50px;
    width: 350px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    background-image: none;
    background-color: #3f89ec;
    border: 0;
    -webkit-border-radius: 3px;
    -webkit-transition: .3s;
}
.btn2:hover{
    background: #4490F7;
}
.c-box{
    position: relative;
    text-align: center;
    color: #7a77c8;
    margin-bottom: 20px;
    width: 980px;
    font-size: 12px;
    left: 440px;
    top: -200px;
}
.footer{
    position: fixed;
    bottom: 15%;
    left: 10px;
}
.userinfo{
    color: rgb(122, 122, 122);
    margin-top: 3px;
}
.number{
    color: rgb(122, 122, 122);
    margin-top: 9px;
}
.userinfo1{
    color: #fc4343;
}
.userinfo2{
    color: #fc4343;
}
.number1{
    color: #fc4343;
}
.pwd1{
    position: absolute;
    left: 430px;
    top: 0;
    zoom: 1;
    z-index: 20;
    width: 270px;
}
.pwd3{
    font-size: 12px;
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 1px #efefef;
    background: #f9f9f9;
    width: 200px;
    position: relative;
    margin-top: 45.55%;
}
ul, ol{
    list-style: none;
}
.pwd_len{
    line-height: 20px;
    color: #666;
}
.pwd_cha{
    line-height: 20px;
    color: #666;
}
.pwd_spa{
    line-height: 20px;
    color: #666;
}
#ok{
    margin-top: 125px;
    margin-left: 9.6px;
}